<h2> Home </h2>

<ul>
<% @followers.each do |follower| %>
  <li>
    <%= follower.username %>
  </li>
<% end %>
</ul>

<ul>
<% @tweets = @tweets.order(date: :desc)%>
<% @tweets.each do |tweet| %>
  <li>
    <%= tweet.body %> </br>
    <%= tweet.date %>
  </li>
<% end %>
</ul>

<form action="/tweet" method="POST">
  <input type="text" name="tweet[body]" placeholder="Tweet Tweet" />
  <input type="submit" value="Tweet" />
</form>

<form action="/logout" method="GET">
  <input class="btn btn-primary" type="submit" value="Logout">
</form>
