<h3> Welcome to Nano Twitter! </h3>

<form method="get" action="/signup">
    <input class='btn btn-primary' type='submit' value='Signup'>
</form>

<form method="get" action="/login">
    <input class='btn btn-primary' type='submit' value='Login'>
</form>
