<h3> Welcome to Nano Twitter! </h3>

<ul>
    <% @tweets = @tweets.order(date: :desc)%> 
    <% for n in 0...30%>
        <% tweet = @tweets[n]%>
        <li>
            <%= tweet.body %> </br>
            <%= User.find(tweet.user_id).username %>
            <%= tweet.date %>
        </li>
    <% end %>
</ul>


<form method="get" action="/signup">
    <input class='btn btn-primary' type='submit' value='Signup'>
</form>

<form method="get" action="/login">
    <input class='btn btn-primary' type='submit' value='Login'>
</form>
