<h3> Log into Nanotwitter </h3>

<form action="/login" method="POST">
  <input type="text" name="login[username]" placeholder="Enter Your Username"/>
  <input type="password" name="login[password]" placeholder="Enter Your password" />
  <input type="submit" value="Login"/>
</form>

<form method="get" action="/signup">
    <input class='btn btn-primary' type='submit' value='Signup'>
</form>

<form method="get" action="/">
    <input class='btn btn-primary' type='submit' value='Home'>
</form>
