<h3> Sign up for Nanotwitter </h3>

<form action="/signup" method="POST">
  <input type="text" name="user[username]" value="Enter A Username" />
  <input type="text" name="user[firstname]" value="Enter Your First Name" />
  <input type="text" name="user[lastname]" value="Enter Your Last Name" />
  <input type="text" name="user[email]" value="Enter Your Email Address" />
  <input type="text" name="user[password]" value="Enter a password" />
  <input type="date" name="user[birthday]" value="Enter your birthday" />
  <input type="submit" value="Signup" />
</form>
