<h3> Sign up for Nanotwitter </h3>

<form action="/signup" method="POST">
  <input type="text" name="user[username]" placeholder="Enter A Username" />
  <input type="text" name="user[firstname]" placeholder="Enter Your First Name" />
  <input type="text" name="user[lastname]" placeholder="Enter Your Last Name" />
  <input type="text" name="user[email]" placeholder="Enter Your Email Address" />
  <input type="password" name="user[password]" placeholder="Enter a password" />
  <input type="date" name="user[birthday]" placeholder="Enter your birthday" />
  <input type="submit" value="Signup" />
</form>

<form method="get" action="/login">
    <input class='btn btn-primary' type='submit' value='Login'>
</form>

<form method="get" action="/">
    <input class='btn btn-primary' type='submit' value='Home'>
</form>
