<ul>
<% @user = User.find(@tweet.user_id) %>
<li>
    <%= @tweet.body %> </br>
    <%= @user.username %>
    <%= @tweet.date %>
</li>
</ul>

<a hred="/home"> Home </a>
<a href="/">Back to NanoTwitter</a>
