<h3> <%= @user.username %> </h3>

<ul>
<% @user.followed.each do |follower| %>
  <li>
    <%= follower.username %>
  </li>
<% end %>
</ul>

<ul>
<% @tweets = Tweet.where(user_id: @user.id)%>
<% @tweets = @tweets.order(date: :desc)%>
<% @tweets.each do |tweet| %>
  <li>
    <%= tweet.body %> </br>
    <%= tweet.date %>
  </li>
<% end %>
</ul>

<a href="/home"> Home </a> </br>
<a href="/">Back to NanoTwitter</a>
